:root {
	/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
	--app-bg-color: #242424;
	--app-font-color: rgba(255, 255, 255, 0.87);

	color-scheme: light dark;
	color: var(--app-font-color);
	background-color: var(--app-bg-color);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hero-bg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
		url(assets/NetflixBcg.jpg);
}
